* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

#app {
	margin: auto;
	display: flex;
}

.cell {
	margin-left: 10px;
	position: relative;
}

.cell > .up  {
	position: absolute;
	top: 0;
}

.cell > .down {
	position: absolute;
	bottom: 0;
}

.semicolon > .up, 
.semicolon > .down {
	color: #ffffff;
	background-color: #000000;
	background-clip: content-box;
}



/****************************** @MEDIA - BEGIN ******************************/
/*	typical checkpoints - DELETE unused		*/

/* Extra small devices (phones, <<<--600px and down) */
@media only screen and (max-width: 600px) {} 

/* Small devices (portrait tablets and large phones, 601px-->>> and up) */
@media only screen and (min-width: 601px) {} 

/* Medium devices (landscape tablets, 768px-->>> and up) */
@media only screen and (min-width: 768px) {} 

/* Large devices (laptops/desktops, 992px-->>> and up) */
@media only screen and (min-width: 992px) {} 

/* Extra large devices (large laptops and desktops, 1200px-->>> and up) */
@media only screen and (min-width: 1200px) {}
/****************************** @MEDIA - END ******************************/