* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	display: grid;
	height: 85vh;
}

#app {
	margin: auto;
	display: flex;
}

.cell {
	position: relative;
}

.cell:nth-child(3n-1) {
	margin-left: 0.5rem; /* 3,5 и 8 элементы .cell*/
}

.cell > .up  {
	position: absolute;
	top: 0;
}

.cell > .down {
	position: absolute;
	bottom: 0;
}

.up, .down {
	border-style: solid;
}

.semicolon > .up,
.semicolon > .down {
	color: #ffffff;
	background-image: url(/img/blackSquare.png);
	background-clip: content-box;
}

/* for JS semicolon blinking */
#semicolon1.blink > .up,
#semicolon1.blink > .down {
	background-image: none;
}

/* ************************* NUMBERS PATTERNS ************************* */

.zero .up {
	border-bottom: none;
}

.zero .down {
	border-top: none;
}

.one .up {
	border-top: none;
	border-bottom: none;
	border-left: none;
}

.one .down {
	border-top: none;
	border-bottom: none;
	border-left: none;
}

.two .up {
	border-left: none;
}

.two .down {
	border-right: none;
}

.three .up {
	border-left: none;
}

.three .down {
	border-left: none;
}

.four .up {
	border-top: none;
}

.four .down {
	border-bottom: none;
	border-left: none;
}

.five .up {
	border-right: none;
}

.five .down {
	border-left: none;
}

.six .up {
	border-right: none;
}

.seven .up {
	border-bottom: none;
	border-left: none;
}

.seven .down {
	border-top: none;
	border-bottom: none;
	border-left: none;
}

.nine .down {
	border-left: none;
}