* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

#app {
	margin: auto;
	display: flex;
}

.cell {
	position: relative;
}

.cell:nth-child(3n-1) {
	margin-left: 0.5rem; /* 3,5 и 8 элементы .cell*/
}

.cell > .up  {
	position: absolute;
	top: 0;
}

.cell > .down {
	position: absolute;
	bottom: 0;
}

.up, .down {
	border-style: solid;
}

.semicolon {
	background-color: #000000;
	color: #ffffff;
	background-clip: content-box;
}

/* for JS el.classList.toggle('blink') */
#semicolon0.blink {
	background-color: #ffffff;
}

/* ************************* NUMBERS PATTERNS ************************* */

.zero .up {
	border-bottom: none;
}

.zero .down {
	border-top: none;
}

.one .up {
	border-top: none;
	border-bottom: none;
	border-left: none;
}

.one .down {
	border-top: none;
	border-bottom: none;
	border-left: none;
}

.two .up {
	border-left: none;
}

.two .down {
	border-right: none;
}

.three .up {
	border-left: none;
}

.three .down {
	border-left: none;
}

.four .up {
	border-top: none;
}

.four .down {
	border-bottom: none;
	border-left: none;
}

.five .up {
	border-right: none;
}

.five .down {
	border-left: none;
}

.six .up {
	border-right: none;
}

.seven .up {
	border-bottom: none;
	border-left: none;
}

.seven .down {
	border-top: none;
	border-bottom: none;
	border-left: none;
}

.nine .down {
	border-left: none;
}